.tag-list > * {
  margin-right: 12px;
  display: inline-block;
  margin-top: 12px;
}

.tag {
  font-family: Montserrat, sans-serif;
  text-transform: uppercase;
  font-size: 0.8em;
  font-weight: 400;
  padding: 8px 16px;
  background: #eee;
  border: 1px solid #ccc;
  box-shadow: none;
  color: #000;
}

.tag:hover {
  text-decoration: underline;
}

.wrapper {
  display: flex;
  align-items: baseline;
}

.heading {
  margin: 0;
  padding: 0 20px 0 0;
  display: inline;
}
