.post-content figcaption {
  text-align: center;
  font-style: italic;
  color: gray;
}

.post-content .full-width .gatsby-resp-image-wrapper {
  position: relative;
  max-width: 100vw;
  width: 100vw;
  left: 50%;
  right: 50%;
  margin-left: -50vw !important;
  margin-right: -50vw !important;
  margin-top: 1em;
  margin-bottom: 1em;
}

@media (max-width: 700px) {
  .post-content .gatsby-resp-image-wrapper {
    position: relative;
    max-width: 100vw;
    width: 100vw;
    left: 50%;
    right: 50%;
    margin-left: -50vw !important;
    margin-right: -50vw !important;
    margin-top: 1em;
    margin-bottom: 1em;
  }
}
@media (min-width: 1200px) {
  .post-content .gatsby-resp-image-wrapper {
    position: relative;
    max-width: 60vw;
    width: 60vw;
    left: 50%;
    right: 50%;
    margin-left: -30vw !important;
    margin-right: -30vw !important;
    margin-top: 1em;
    margin-bottom: 1em;
  }
}
.post-content ul,
.post-content ol {
  margin-left: 1.75em;
}

.post-content ul li,
.post-content ol li {
  margin-bottom: 0;
}

a.back-link {
  display: inline-block;
  margin-top: 20px;
  padding: 8px 24px;
  font-family: Montserrat, sans-serif;
  border: 1px solid #1a94e6;
  color: #1a94e6;
  border-radius: 1000px;
  text-transform: uppercase;
  box-shadow: none;
}

#commento a {
  box-shadow: none;
}

.commento-footer {
  display: none;
}
