.hero {
  position: relative;
}

.headerImage {
  height: 60vh;
}

.headerImage::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 2;
}

.titles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
  color: #fff;
  z-index: 3;
  text-align: center;
}

.titles h1 {
  text-transform: uppercase;
  letter-spacing: 0.04em;
  margin-left: 20px;
  margin-right: 20px;
}

@media (max-width: 750px) {
  .headerImage {
    height: 40vh;
  }
  .titles h1 {
    font-size: 1.8em;
  }
}
